<div class="card">
  <div class="card-content">
    <a class="card-title" href="/concert/{{id}}">
    Artist should render here
      {{ concert.artistOrArtists }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.username }}</a>
    <span class="concert_date">{{ concert.dateAttended }}</span>
    <span class="concert_comments">{{ comments.length }} Comments</span>
    <form class="" action="/concert/{{id}}?_method=DELETE" method="POST">
      <button type="submit" name="button">Delete</button>
    </form>
  </div>
</div>

