{{#if concerts}}
  <ul class="concerts">
    {{#each concerts}}
      <div class="card">
        <div class="card-content">
          <a class="card-title" href="/concert/{{id}}">
            My Concert:
          </a>
          <ul>
            <li>{{ artistOrArtists }}</li>
            <li>{{ url }}</li>
            <li>{{ noteworthy }}</li>
            <li>{{ photos }}</li>
            <li>{{ dateAttended }}</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="/user/{{ author.id }}" class="">{{ author.username }}</a>
          <span class="concert__date">{{ createdAt }}</span>
          <span class="concert_comments">{{ comments.length }} comments</span>
        </div>
      </div>
    {{/each}}
  </ul>
{{/if}}