{{#if concerts}}
  <ul class="concerts">
    {{#each concerts}}
      <div class="card">
        <div class="card-content">
          <a class="card-title" href="/concert/{{id}}">
          Concert Post
          </a>
          <p>{{ artistOrArtists }}</p>
          <p>{{ url }}</p>
          <p>{{ noteworthy }}</p>
          <p>{{ photo }}</p>
        </div>
        <div class="card-action">
          <a href="/user/{{ author.id }}" class="">{{ author.username }}</a>
          <span class="concert_date">Date Attended: {{ dateAttended }}</span>
          <span class="created_date">Post created: {{ createdAt }}</span>
          <span class="concert_comments">{{ comments.length }} Comments</span>
        </div>
      </div>
    {{/each}}
  </ul>
{{/if}}